.game-board {
    width: 75%;
    display: grid;
    grid-template-areas: "buffer buffer"
                         "quests quests" 
                         "votes details";
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 3fr 1fr;

    .buffer {
        grid-area: buffer;
        background-color: hsla(0, 100%, 50%, 0.25);
    }

    .details {
        grid-area: details;
        display: grid;
        font-weight: bold;
        color: white;
        justify-items: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.75);

        #player-count {
            color: white;
        }

        #mininons-of-mordred {
            color: rgba(75, 12, 12, 0.842);
        }
    }
}