.questing-players {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    .player {
        margin: 5px;
    }
}

.approve-reject {
    margin: 0 auto;
    width: max-content;
    box-sizing: border-box;
    display: grid;
    grid-template-areas: "approve reject"
                         "confirm confirm";

    .approve-img {
        grid-area: approve;
    }

    .reject-img {
        grid-area: reject;
    }

    .approve-img, .reject-img {
        &.selected {
            border: 5px solid rgb(255, 215, 0);
        }
    }

    .confirm-vote-choice {
        grid-area: confirm;
    }

    img {
        width: 75px;
        border: 5px solid transparent;
    }
}