.questing-players {
    display: flex;
    flex-direction: row;
}

.approve-reject {
    width: max-content;
    display: grid;
    grid-template-areas: "approve reject"
                         "confirm confirm";
    // margin: 0;

    .approve-img {
        grid-area: approve;
        &.selected {
            border: 5px solid rgb(127, 195, 71);
        }
    }

    .reject-img {
        grid-area: reject;
        &.selected {
            border: 5px solid rgb(127, 195, 71);
        }
    }

    .confirm-vote-choice {
        grid-area: confirm;
    }

    img {
        width: 75px;
    }
}