.success-fail-vote {
    display: grid;
    grid-template-rows: 2rem 1fr 2rem;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;

    .title {
        text-align: center;
        background-color: white;
        color: purple;
        grid-column: 1 / span 2;
        grid-row: 1 / 2;
    }

    img {
        width: 120px
    }

    .success-img {
        grid-row: 2 / span 1;
        grid-column: 1 / span 1;
    }
    .fail-img {
        grid-row: 2 / span 1;
        grid-column: 2 / span 1;

    }
    .selected {
        border: 3px solid limegreen;
    }

    button {
        grid-column: 1 / span 2;
        grid-row: 3 / span 1;
    }
}