.game-screen {
    height: 100%;

    .winner {
        box-sizing: border-box;
        position: absolute;
        z-index: 1;
        width: 100%;
        font-weight: bold;
        color: white;
        background-color: rgba(black, 0.85);
        padding: 3rem;
        top: 50%;
        left: 0;
        bottom: auto;
        transform: translate(0, -50%);
        &.good {
            border-top: 2px solid blue;
            border-bottom: 2px solid blue;
        }
        &.evil {
            border-top: 2px solid red;
            border-bottom: 2px solid red;
        }
    }
}
