.player-informations {
    box-sizing: border-box;
    padding: 10px 1px 0 10px;
    width: 100%;
    background-color: rgba(navy, 0.25);
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    .name {
        position: relative;
    }

    .confirm-quest-players {
        background-color: limegreen;
    }

    .player {
        width: 135px;
        background-color: (black, 0.2);
        position: relative;
        overflow: hidden;
        border-radius: 5px;

        &.selected {
            border: 5px solid black;
            content: url("../../pictures//tokens//team-token.png");
        }

        .name {
            background-color: black;
            color: white;
            position: absolute;
            text-align: center;
            top: 1rem;
        }

        img {
            width: 100%;
        }
    }

}