.player {
    width: 135px;
    background-color: (black, 0.2);
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    &.selected {
        border: 5px solid black;
        img {
            content: url("../../pictures//tokens//team-token.png");
        }
    }
    img {
        &.good {}
        &.evil {
            // TODO: Evil Card back
        }
    }
    .name {
        background-color: darkslategray;
        color: white;
        position: absolute;
        text-align: center;
        top: 1rem;
        &.good {
            background-color: blue;
        }
        &.evil {
            background-color: crimson;
        }
    }
    img {
        width: 100%;
    }
}