.player-informations {
    box-sizing: border-box;
    padding: 10px 1px 0 10px;
    width: 100%;
    background-color: rgba(navy, 0.25);
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    .name {
        position: relative;
    }
    .confirm-quest-players {
        background-color: limegreen;
    }
}